# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=

# Algolia Search
ALGOLIA_APP_ID=
ALGOLIA_API_KEY=
NEXT_PUBLIC_ALGOLIA_SEARCH_KEY=

# Analytics
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=longviewsolutionsgroup.com

# Forms
FORMSPREE_ENDPOINT=
